<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>STANU.PRO</title>
</head>
<body>
    <p><strong>Вопрос:</strong></p>
    <p id="msg">Загрузка...</p>

    <p><strong>Ответ:</strong></p>
    <p id="answer">...</p>


    <script>
        async function fetchMsg() {
            const res = await fetch("/stream");
            const data = await res.json();
            document.getElementById("msg").innerText = data.text;
            document.getElementById("answer").innerText = data.answer || "Ответ пока не получен";
        }
        setInterval(fetchMsg, 1000);
        fetchMsg();
    </script>
</body>
</html>
